# Translations
*.mo
*.pot

# dotenv
.env

# mics
*build*
package-lock.json
node_modules/
dist/
npm-debug.log
yarn-error.log

# editor directories and files
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# data
*data*
